<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Painel
    <small>de controle</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Painel</a></li>
    <li class="active">Visualizar loja</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @store.social_name %></h3>
          <%= link_to edit_panel_store_path(@store), class: 'btn btn-primary pull-right' do %>
            <i class="fa fa-edit"></i> Editar loja
          <% end %>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

        </div>
      </div>
    </div>
  </div>
</section>
