
<section class="content-header">
  <h1>Painel de <small>controle</small></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- Horizontal Form -->
      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-fw fa-map-o"></i> <h3 class="box-title">Novo endereço</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>

